{% extends "html.html" %}
{% block content %}
<div id="main"  role="main" class="section-app">
	<div class="container">
		<div class="betinda-box row justify-content-end">
		<div class="col-md-6">
		<h1 class="heading-primary">
		<span class="heading-sub">Nous sommes à votre service</span>
		</h1>
{% if message %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endif %}		
<form class="form-service" action="{% url "course" %}" method="post">
{% csrf_token %}
<fieldset>
<legend>Expediteur</legend>
<div class="form-label-group">
	{{ form.exp_nom.errors }}
	{{ form.exp_nom }}
    <label for="{{ form.exp_nom.id_for_label }}">Nom complet</label>
  </div>

  <div class="form-label-group">
  	{{ form.exp_tel.errors }}
	{{ form.exp_tel }}

    <label for="{{ form.exp_tel.id_for_label }}">Téléphone</label>
  </div>
  </fieldset>
  <fieldset>
<legend>Destinataire</legend>
  <div class="form-label-group">
  	{{ form.dest_nom.errors }}
	{{ form.dest_nom }}

    <label for="{{ form.dest_nom.id_for_label }}">Nom complet</label>
  </div>

  <div class="form-label-group">
  	{{ form.dest_tel.errors }}
	{{ form.dest_tel }}

    <label for="{{ form.dest_tel.id_for_label }}">Téléphone</label>
  </div>
    <div class="form-label-group">
	{{ form.dest_adresse.errors }}
	{{ form.dest_adresse }}
    <label for="{{ form.dest_adresse.id_for_label }}">Adresse\Reference</label>
  </div>
    <div class="form-label-group">
	{{ form.desc_colis.errors }}
	{{ form.desc_colis }}
    <label for="{{ form.desc_colis.id_for_label }}">Description du service</label>
  </div>
  </fieldset>


  <button class="btn btn-lg btn-primary btn-block" type="submit">Commandez</button>

</form>
</body>
</html>
		</div>
		</div>
	</div>
</div>
{% endblock %}